<%- include('../_partial/_header.ejs') %>
<%- include('../_partial/_navbar_admin.ejs') %>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-outline-secondary">Salvar Relatório</button>
                <button type="button" class="btn btn-outline-secondary">Exportar Relatório</button>
            </div>
            <!-- <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button> -->
            </div>
        </div> 
        <div class="table-responsive">
            <table class="table table-striped table-sm">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Jogo</th>
                <th scope="col">Categorias</th>
                <th scope="col">Avaliação</th>
                <th scope="col">Numero de Cliques</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>1</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>360</td>
                </tr>
                <tr>
                <td>2</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>333</td>
                </tr>
                <tr>
                <td>3</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>302</td>
                </tr>
                <tr>
                <td>4</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>294</td>
                </tr>
                <tr>
                <td>5</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>288</td>
                </tr>
                <tr>
                <td>6</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>200</td>
                </tr>
                <tr>
                <td>7</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>100</td>
                </tr>
                <tr>
                <td>8</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>50</td>
                </tr>
                <tr>
                <td>9</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>30</td>
                </tr>
                <tr>
                <td>10</td>
                <td>Sonic</td>
                <td>Side-Scrolling, 16-BIT</td>
                <td>3.6</td>
                <td>1</td>
                </tr> 
            </tbody>
            </table>
        </div>
        </main>
    </div>
    </div>


<%- include('../_partial/_footer_admin.ejs') %>