<%- include('_header.ejs') %>
    <h1>Teste Good Browser Games</h1>

    <style>
        .scrolling-wrapper{
            overflow-x: auto;
        }
        .card-block{
        width: 300px;
        height: 180px;
        background-color: #fff;
        background-position: center;
        background-size: cover;
        transition: all 0.2s ease-in-out !important;
        border-radius: 24px;
    }
    .card-block:hover{
        transform: translateY(-5px);
        box-shadow: none;
        opacity: 0.9;
    }
    .card{
        float: left;
    }
        
    </style>
    <!-- INICIO SCROLL HORIZONTAL  -->
    <h2>Jogos com mais avaliações positivas</h2>
    <div class="container-fluid">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-3">
                    <div class="card card-block card-1"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-2"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-3"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-4"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-5"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-6"></div>
                </div>
        </div>
    </div>
    <h2>Jogos Recomandados</h2>
    <div class="container-fluid">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block "></div>
                </div>
        </div>
    </div>
    <h2>Todos os Jogos</h2>
    <div class="container">
        <div class="card card-block"></div>
        <div class="card card-block"></div>
        <div class="card card-block"></div>
        <div class="card card-block"></div>
        <div class="card card-block"></div>
        <div class="card card-block"></div>

    </div>
<%- include('_footer.ejs') %>