<%- include('../_partial/_header.ejs') %>
<%- include('../_partial/_navbar_main.ejs') %>

    <h1>Teste Good Browser Games</h1>


<!-- 

    Overlay jogos

 -->
 <div onclick="" id="overlay">
        <button style="margin-top:50px" onclick="overlay_off()">X</button>
        <div id="overlay_container">
            
            <div class="overlay_card"></div>
            <h1 class="text-white text-center overlay_title">Titulo</h1>
            <div id="overlay_gameinfo">
                
                <p class="text-white font-weight-light">Mussum Ipsum, cacilds vidis litro abertis. <br> Per aumento de cachacis, eu reclamis.Nullam volutpat risus nec leo commodo, ut interdum diam laoreet. <br> Sed non consequat odio.Paisis, filhis, espiritis santis.Sapien in monti palavris <br> qui num significa nadis i pareci latim.</p>
                <button class="btn btn-outline-success overlay_jogar" >Jogar</button>
                <button class="btn btn-outline-success overlay_avaliar" onclick="overlay_gameinfo_off();overlay_avaliacao_1_on()">Avaliar</button>
            </div>
            <!-- <form action=""> -->
            <div id="overlay_avaliacao_1">
                <div class="mb-3">
                    <textarea style="width: 40%;" id="descricao" name="descricao" rows="3"></textarea>
                <div id="dica_descricao" class="form-text">Adicione uma descrição sobre o jogo.</div>
                </div>
                <button class="btn btn-outline-success " onclick="overlay_gameinfo_on();overlay_avaliacao_1_off()">Voltar</button>
                <button class="btn btn-outline-success" onclick="overlay_avaliacao_1_off();overlay_avaliacao_2_on()">Proximo</button>
            </div>
            <div id="overlay_avaliacao_2">

                <div style="width: 100%;">
                    <div class="estrelas">
                        <input type="radio" id="cm_star-empty" name="fb" value="" checked/>
                        <label for="cm_star-1"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="cm_star-1" name="fb" value="1"/>
                        <label for="cm_star-2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="cm_star-2" name="fb" value="2"/>
                        <label for="cm_star-3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="cm_star-3" name="fb" value="3"/>
                        <label for="cm_star-4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="cm_star-4" name="fb" value="4"/>
                        <label for="cm_star-5"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" id="cm_star-5" name="fb" value="5"/>
                      </div>
                </div>
                <br>
                <div class="stars">
                    <button class="btn btn-outline-success ">Voltar</button>
                    <button class="btn btn-outline-success">Enviar Avaliacao</button>
                </div>
            </div>
            <div class="comments">
                <div class="scrolling-wrapper-y comments row mt-4 pb-4 pt-2">
                    <!-- comentario -->
                    <div class="comment-avatar">
                        <img src="https://conteudo.imguol.com.br/c/entretenimento/4f/2021/02/01/agostinho-carrara-1612204229068_v2_1x1.jpg" alt="">
                        
                    </div>
                        <div class="comment-box mb-4">
                            <div class="comment-head">
                                <h6 class="comment-name"><a href="#">Agustinho Carrara</a></h6>
                                <span>11/05/2022</span>
                                <i class="fa fa-heart"></i>
                            </div>
                            <div class="comment-content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                            </div>
                        </div>
                    <!-- comentario -->

                    <!-- comentario -->
                    <div class="comment-avatar">
                        <img src="https://i1.sndcdn.com/avatars-000295697072-o66kac-t500x500.jpg" alt="">
                    </div>
                    <div class="comment-box mb-4">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="#">Arineu você não sabe nem eu</a></h6>
                            <span>11/05/2022</span>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo?
                        </div>
                    </div>
                <!-- comentario -->
                </div>
            </div>
            <!-- </form> -->
            <!-- COMENTARIO     -->
            
        </div>
        
 </div>
 <!-- 

    HORIZONTAL SCROLLER JOGOS MAIS BEM AVALIADOS

 -->
    <h5 class="mt-5 white_label">JOGOS MAIS BEM AVALIADOS</h5>
    <div class="container-fluid styled_h_scroll">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div onclick="overlay_on()" class="col-3">
                    <div class="card card-block card-1"></div>
                </div>
                <div onclick="overlay_on()"   class="col-3">
                    <div class="card card-block card-2"></div>
                </div>
                <div onclick="overlay_on()"   class="col-3">
                    <div class="card card-block card-3"></div>
                </div>
                <div onclick="overlay_on()"   class="col-3">
                    <div class="card card-block card-4"></div>
                </div>
                <div onclick="overlay_on()"   class="col-3">
                    <div class="card card-block card-5"></div>
                </div>
                <div onclick="overlay_on()"   class="col-3">
                    <div class="card card-block card-6"></div>
                </div>
        </div>
    </div>

<!-- 

    HORIZONTAL SCROLLER JOGOS RECOMENDADOS

 -->
    <h5 class="mt-5 white_label">JOGOS RECOMENDADOS</h5>
    <div class="container-fluid styled_h_scroll">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block "></div>
                </div>
        </div>
    </div>

<!-- 

    TODOS OS JOGOS

 -->

    <h5 class="mt-5 white_label">TODOS OS JOGOS</h5>
    <div class="container-fluid ">
            <div class="row flex-row mt-4 pb-4 pt-2">
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block "></div>
                    </div>
            </div>
        </div>
    </div>


    <script>
        function overlay_on() {
        document.getElementById("overlay").style.display = "block",
        overlay_gameinfo_on(),
        overlay_avaliacao_1_off(),
        overlay_avaliacao_2_off();
        }

        function overlay_off() {
        document.getElementById("overlay").style.display = "none";
        }

        function overlay_gameinfo_off(){
            document.getElementById("overlay_gameinfo").style.display = "none";
        }
        function overlay_gameinfo_on(){
            document.getElementById("overlay_gameinfo").style.display = "block";
        }
        function overlay_avaliacao_1_on(){
        document.getElementById("overlay_avaliacao_1").style.display = "block";
        }
        function overlay_avaliacao_1_off(){
        document.getElementById("overlay_avaliacao_1").style.display = "none";
        }
        function overlay_avaliacao_2_on(){
        document.getElementById("overlay_avaliacao_2").style.display = "block";
        }
        function overlay_avaliacao_2_off(){
        document.getElementById("overlay_avaliacao_2").style.display = "none";
        }
    </script>
    
<%- include('../_partial/_footer.ejs') %>